@charset "UTF-8";
.blur-it {
   filter: blur(10px);
  }
  
  a.btn {  
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
  }
  
  .modal-wrapper {
   width: 100%;
   height: 100%;
   position: fixed;
   top: -500px; 
   left: 0;
   background: rgba(0, 0, 0, 0.8);
   visibility: hidden;
   opacity: 0;
   transition: all 0.25s ease-in-out;
   display : flex;
   justify-content: center;
   align-items : center; 
   z-index: 10;
  }
  
  .modal-wrapper.open {
   opacity: 1;
   visibility: visible;
   top:0
  }
  
  .modal {
   width: 350px;
   height: 551px; 
   top: 50%; 
   left: 50%;  
   opacity: 0;
   transition: all 0.5s ease-in-out;
   background-color: #fff; 
   z-index: 10; 
   border-radius: 30px;
  }
  
  .modal-wrapper.open .modal {
   margin-top: 0;
   opacity: 1;
  }
  
  .btn-close {
   margin: 0 auto; 
   position: absolute;
   top: 150px;
   padding: 0 0 0 0;
   z-index: -1;
  }