<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMemberDAO">


   <insert id="insertCustomer" parameterType="UserMemberVO">
   INSERT INTO Member(userid, pass, name, email, tel)
      VALUES(#{userid}, #{pass}, #{name}, #{email},#{tel})
   </insert>
   
   <select id="checkId" parameterType="UserMemberVO" resultType="UserMemberVO">
      SELECT * FROM Member
       WHERE userid=#{userid}
   </select>   
   
   <select id="loginCustomer" parameterType="UserMemberVO" resultType="UserMemberVO">
      SELECT * FROM Member
       WHERE userid=#{userid} AND pass=#{pass}
   </select>
   
<!--  
   <select id="getBoardList" resultType="BoardVO">
      <![CDATA[
      SELECT * FROM uploadtemp ORDER BY b_id DESC
      ]]>
   </select>

   <update id="updateBoard"  parameterType="BoardVO">
      UPDATE uploadtemp SET
      b_title = #{b_title},
      b_content = #{b_content}
      WHERE b_id = #{b_id}
   </update>
   
   <delete id="deleteBoard"  parameterType="BoardVO">
      DELETE FROM uploadtemp
      WHERE b_id = #{b_id}
   </delete>
   
   <select id="getBoard"  parameterType="BoardVO" resultType="BoardVO">
      SELECT *
      FROM uploadtemp
      WHERE b_id = #{b_id}
   </select>
-->   

</mapper>